* {
box-sizing: border-box;

}

body{
    margin:0;
    background-color: rgb(232, 243, 221);
}
.container01 { 

display: flex;
flex-wrap: wrap;
padding: 0 5px;

}


h2{
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: 400;

}





.column01{
flex:35% ; /* this column only takes 25% of the total flex box width*/
max-width: 35%;  /* max width of the column*/
padding: 0 5px;
}

.column02{
flex:35% ; /* this column only takes 25% of the total flex box width*/
max-width: 35%;  /* max width of the column*/
padding: 0 5px; /* 0 for both vertical padding but 5 px for both horizontal padding(gaps)*/
}


.column03{
flex:15% ; /* this column only takes 25% of the total flex box width*/
max-width: 15%;  /* max width of the column*/
padding: 0 5px; /* 0 for both vertical padding but 5 px for both horizontal padding(gaps)*/
}


.column04{
flex:15% ; /* this column only takes 25% of the total flex box width*/
max-width: 15%;  /* max width of the column*/
padding: 0 5px; /* 0 for both vertical padding but 5 px for both horizontal padding(gaps)*/
}



.column01 img{
margin-top: 10px;
vertical-align: middle;
width:50%; /* 0 for both vertical padding but 5 px for both horizontal padding(gaps)*/
 border-radius: 30px; /*chamfer the border*/ 
    border-style: solid;  /*Define border style*/ 
    border-color: tomato; /*Define border color*/ 
    box-sizing: border-box;
}

.column02 img{
margin-top: 10px; /* Margin has to be 10px above of the image because the horizontal sides of padding is 5 px each so 5px+5px = 10px */
vertical-align: middle; /* align to the middle of the box */
width:50%; 
 border-radius: 30px; /*chamfer the border*/ 
    border-style: solid;  /*Define border style*/ 
    border-color: tomato; /*Define border color*/ 
    box-sizing: border-box;
}

.column03 img{
margin-top: 10px;
vertical-align: middle;
width:50%;
 border-radius: 30px; /*chamfer the border*/ 
    border-style: solid;  /*Define border style*/ 
    border-color: tomato; /*Define border color*/ 
    box-sizing: border-box;
}

.column04 img{
margin-top: 10px;
vertical-align: middle;
width:50%;
 border-radius: 30px; /*chamfer the border*/ 
    border-style: solid;  /*Define border style*/ 
    border-color: tomato; /*Define border color*/ 
    box-sizing: border-box;
}

.column01 h1.title{
font-family: Georgia, 'Times New Roman', Times, serif;
font-style: normal;
font-weight: 400;
text-rendering: optimizeSpeed;
text-justify: newspaper;
font-size: 80px;
}

.column02 h1.title{
font-family: Georgia, 'Times New Roman', Times, serif;
font-style: normal;
font-weight: 400;
text-rendering: optimizeSpeed;
text-justify: newspaper;
font-size: 80px;
}



.column01 h3.column_header{

font-family: Georgia, 'Times New Roman', Times, serif;
font-style: normal;
font-weight: 200;
text-rendering: optimizeSpeed;
text-justify: newspaper;
text-align: center;


}


.column02 h3.column_header{

font-family: Georgia, 'Times New Roman', Times, serif;
font-style: normal;
font-weight: 200;
text-rendering: optimizeSpeed;
text-justify: newspaper;
text-align: center;
}

.column03 h3.column_header{

font-family: Georgia, 'Times New Roman', Times, serif;
font-style: normal;
font-weight: 200;
text-rendering: optimizeSpeed;
text-justify: newspaper;
text-align: center;
}

.column04 h3.column_header{

font-family: Georgia, 'Times New Roman', Times, serif;
font-style: normal;
font-weight: 200;
text-rendering: optimizeSpeed;
text-justify: newspaper;
text-align: center;
}

.column01 img:hover {border-radius: 5%;}
.column02 img:hover {border-radius: 5%;}
.column03 img:hover {border-radius: 5%;}
.column04 img:hover {border-radius: 5%;}

h1:hover{color: darkmagenta;}

@media (max-width: 900px){
 
    .column01 {
        flex: 50%;
        max-width: 50%;
    }

    .column02 {
        flex: 50%;
        max-width: 50%;
    } 

    .column03 {
        flex: 50%;
        max-width: 50%;
    } 

      .column04 {
        flex: 50%;
        max-width: 50%;
    } 
}


@media (max-width: 600px){
 
    .column01 {
        flex: 100%;
        max-width: 100%;
    }

    .column02 {
        flex: 100%;
        max-width: 100%;
    } 

    .column03 {
        flex: 100%;
        max-width: 100%;
    } 

      .column04 {
        flex: 100%;
        max-width: 100%;
    } 
}